<div class="login-align">
  <div class="login-container">
    <h2>Login</h2>
    <form  action="/gerenciadorEventos/login" method="post">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Entrar</button>
      </div>
    </form>
    <hr class="solid">
    <a class="btn" align="right" href="cadastro/form">Registrar</a>
  </div>
</div>
<div class="login-align">
  <div class="login-container">
    <h2>Login</h2>
    <form  action="web/admin/login" method="post">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Entrar</button>
      </div>
    </form>
    <hr class="solid">
    <a class="btn" align="right" href="cadastro/form">Registrar</a>
  </div>
</div>